
  <%= form_for @skill, local: true, remote: true do |f| %>
      <div class="card-header">
        <div class="row">
          <div class="col-12">
            <%= render partial: 'shared/alerts/errors', locals: { resource: @skill} %>
          </div>
        </div>
      </div>
    <div class="form-group">
      <label class="text-sm" for="">Skill name</label>
      <div class="input-group input-group-merge input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-align-left-2"></i></span>
        </div>
        <%= f.text_field :name, class:"form-control", placeholder:"Skill name" %>
      </div>
    </div>
    <div class="form-group">
      <label class="text-sm" for="">Skill description</label>
      <div class="input-group input-group-merge input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-align-left-2"></i></span>
        </div>
        <%= f.text_area :description, class:"form-control", placeholder:"Skill description" %>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-warning my-4">submit</button>
    </div>
  <% end %>
