<div class="card ">
  <div class="card-header">
    <h5>Dashbord</h5>
  </div>
  <div class="card-body transparent">
    <a href="#"><p class="text-dark"><i class="ni ni-tag text-orange"></i> My profile</p></a>
    <a href="#"><p class="text-dark"><i class="ni ni-folder-17 text-orange"></i> My applies</p></a>
    <a href="<%= mails_path %>"><p class="text-dark"><i class="ni ni-email-83 text-orange"></i> Mail box</p></a>
    <a href="#"><p class="text-dark"><i class="ni ni-email-83 text-orange"></i>Pending events</p></a>
  </div>
</div>
