<div class="card">
  <div class="card-header border-0">
    <div class="row align-items-center">
      <div class="col">
        <p><i class="ni ni-folder-17"></i><span class="h5">  Appliants</span></p>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <!-- Projects table -->
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">Candidat name</th>
          <th scope="col">Job title</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            John Snow
          </th>
          <td>
            Front-end developper
          </td>
          <td>
            <a href="#" class="text-orange">Applicant details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            John Snow
          </th>
          <td>
            Front-end developper
          </td>
          <td>
            <a href="#" class="text-orange">Applicant details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            John Snow
          </th>
          <td>
            Front-end developper
          </td>
          <td>
            <a href="#" class="text-orange">Applicant details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            John Snow
          </th>
          <td>
            Front-end developper
          </td>
          <td>
            <a href="#" class="text-orange">Applicant details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            John Snow
          </th>
          <td>
            Front-end developper
          </td>
          <td>
            <a href="#" class="text-orange">Applicant details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            Ariane Milla
          </th>
          <td>
            Data scientices, python senior developper
          </td>
          <td>
            <a href="#" class="text-orange">Applicant details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            Ariane Milla
          </th>
          <td>
            Data scientices, python senior developper
          </td>
          <td>
            <a href="#" class="text-orange">Applicant details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            Ariane Milla
          </th>
          <td>
            Data scientices, python senior developper
          </td>
          <td>
            <a href="#" class="text-orange">Applicant details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            Ariane Milla
          </th>
          <td>
            Data scientices, python senior developper
          </td>
          <td>
            <a href="#" class="text-orange">Applicant details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            Tristan Harone
          </th>
          <td>
            python senior developper
          </td>
          <td>
            <a href="#" class="text-orange">Applicant details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            Tristan Harone
          </th>
          <td>
            python senior developper
          </td>
          <td>
            <a href="#" class="text-orange">Applicant details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            Prixille Paris
          </th>
          <td>
            Blog manager + Content creater
          </td>
          <td>
            <a href="#" class="text-orange">Applicant details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
