<div class="section mt-6">
  <div class="container">
    <div class="col-md-12">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <p><i class="ni ni-ungroup"></i><span class="h3"> Lastest jobs</span></p>
            </div>
            <div class="card-body">
              <h4>Front-end developper</h4>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="text-sm text-orange"><i class="ni ni-watch-time"></i> Part-time</a>
              | <a class="text-sm text-orange"><i class="ni ni-square-pin"></i> Location</a>
              | <a class="text-sm text-orange"><i class="ni ni-money-coins"></i> 25$ per hour</a>
              | <a class="text-sm text-orange"><i class="ni ni-time-alarm"></i> Deadline</a>
              <hr>
              <h4>Front-end developper</h4>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="text-sm text-orange"><i class="ni ni-watch-time"></i> Part-time</a>
              | <a class="text-sm text-orange"><i class="ni ni-square-pin"></i> Location</a>
              | <a class="text-sm text-orange"><i class="ni ni-money-coins"></i> 25$ per hour</a>
              | <a class="text-sm text-orange"><i class="ni ni-time-alarm"></i> Deadline</a>
              <hr>
              <h4>Front-end developper</h4>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="text-sm text-orange"><i class="ni ni-watch-time"></i> Part-time</a>
              | <a class="text-sm text-orange"><i class="ni ni-square-pin"></i> Location</a>
              | <a class="text-sm text-orange"><i class="ni ni-money-coins"></i> 25$ per hour</a>
              | <a class="text-sm text-orange"><i class="ni ni-time-alarm"></i> Deadline</a>
              <hr>
              <h4>Front-end developper</h4>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="text-sm text-orange"><i class="ni ni-watch-time"></i> Part-time</a>
              | <a class="text-sm text-orange"><i class="ni ni-square-pin"></i> Location</a>
              | <a class="text-sm text-orange"><i class="ni ni-money-coins"></i> 25$ per hour</a>
              | <a class="text-sm text-orange"><i class="ni ni-time-alarm"></i> Deadline</a>
              <hr>
              <h4>Front-end developper</h4>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="text-sm text-orange"><i class="ni ni-watch-time"></i> Part-time</a>
              | <a class="text-sm text-orange"><i class="ni ni-square-pin"></i> Location</a>
              | <a class="text-sm text-orange"><i class="ni ni-money-coins"></i> 25$ per hour</a>
              | <a class="text-sm text-orange"><i class="ni ni-time-alarm"></i> Deadline</a>
              <hr>
            </div>
            <div class="text-center mb-3">
              <button type="button" name="button" class="btn-warning">Load more</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
