<div class="section mt-6">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <p><i class="ni ni-ungroup"></i><span class="h3"> Post job</span></p>
            </div>
            <div class="card-body">
              <form role="form">
                <div class="form-group">
                    <select type="select" class="form-control" id="" placeholder="category" >
                      <option>Printing</option>
                      <option>Traning</option>
                      <option>Security & Safety</option>
                      <option>Web developper</option>
                      <option>Engeneering</option>
                      <option>IT & Telecoms</option>
                      <option>Tourism & Restaurants</option>
                      <option>Iot</option>
                      <option>Marketing & Communication</option>
                      <option>Medical & Heeathcare</option>
                      <option>Commercial Representation</option>
                      <option>Financial</option>
                    </select>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-align-left-2"></i></span>
                    </div>
                    <input class="form-control" placeholder="Job title" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <textarea rows="8" cols="80" class="form-control" placeholder="Description" type="text"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="text-sm "for="">Job type</label>
                    <select type="select" class="form-control" >
                      <option>Full-time</option>
                      <option>Part-time</option>
                      <option>Remote</option>
                      <option>Intership</option>
                      <option>Freelance</option>
                      <option>Contract</option>
                    </select>
                </div>
                <div class="form-group">
                  <label class="text-sm" for="">Deadline</label>
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                    </div>
                    <input class="form-control" placeholder="Deadline" type="date">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-money-coins"></i></span>
                        </div>
                        <input class="form-control" placeholder="Min salary" type="number">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-money-coins"></i></span>
                        </div>
                        <input class="form-control" placeholder="Max salary" type="number">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <select type="select" class="form-control" id="" placeholder="Per .." >
                        <option>Per month</option>
                        <option>Per week</option>
                        <option>Per day</option>
                        <option>Per hours</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <input type="checkbox">
                        <label class="text-sm" for="">Salary is negocialble ?</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="Job localisation" type="text">
                  </div>
                </div>
                <div class="text-sm text-center">
                  <p>By continuing on this website, you accept our <strong class="text-oragne">Terms of Use</strong></p>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-warning my-4">Publish</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="">
              <div class="">
                <h2 class="heading text-center text-dark">Post job</h2>
                <p class="description d-none d-md-inline-block mb-2 p-3 text-center text-sm"> Do you have a post to be filled within your company? Find the right candidate in a few clicks at JobSeeker</p>
              </div>
          </div>
          <div class="card">
            <div class="card-header bg-primary py-2 text-center">
              <p class="mb-0"><strong>How to find quickly a candidate?</strong></p>
            </div>
            <div class="card-body">
              <p class="text-sm mb-0"><i class="ni ni-check-bold"></i> Use a brief title and description of the job post</p>
              <p class="text-sm mb-0"><i class="ni ni-check-bold"></i> Make sure you post in the correct category</p>
              <p class="text-sm mb-0"><i class="ni ni-check-bold"></i> Add location to your job post</p>
              <p class="text-sm mb-0"><i class="ni ni-check-bold"></i> Add application deadline to your job post</p>
              <p class="text-sm mb-0"><i class="ni ni-check-bold"></i> Put a min and max salary</p>
              <p class="text-sm mb-0"><i class="ni ni-check-bold"></i> Check the post before publish</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
