
<div class="card">
  <div class="card-header border-0">
    <div class="row align-items-center">
      <div class="col">
        <p><i class="ni ni-email-83"></i><span class="h5"> Mail box</span></p>
      </div>
      <div class="col text-right">
        <a href="#!" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#bug-form">
          <i class="ni ni-fat-add"></i> inbox
        </a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <!-- Projects table -->
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">Subject</th>
          <th scope="col">From</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            Job hanting
          </th>
          <td>
            John Snow
          </td>
          <td>
            <a href="#" class="text-orange">Open</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            Resume demande
          </th>
          <td>
              Grand Muro
          </td>
          <td>
            <a href="#" class="text-orange">Open</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            React developper Competition
          </th>
          <td>
            14 destinations
          </td>
          <td>
            <a href="#" class="text-orange">Open</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            Blog manager + Content creater competitions
          </th>
          <td>
            50 destination
          </td>
          <td>
            <a href="#" class="text-orange">Open</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
