<div class="section mt-6">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <p><i class="ni ni-ungroup"></i><span class="h3"> Compagny Name</span></p>
              <a class="text-sm text-orange"><i class="ni ni-world-2"></i> Website</a>
              | <a class="text-sm text-orange"><i class="fa fa-facebook-square"></i> Facebook</a>
              | <a class="text-sm text-orange"><i class="fa fa-twitter-square"></i> Twitter</a>
              | <a class="text-sm text-orange"><i class="fa fa-linkedin"></i> Linkedin</a>
            </div>
            <div class="card-body">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <hr>
              <h4>Job description</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header bg-white py-2 text-center">
              <a type="button" class="btn-warning mb-0 text-white px-4 py-1"> Apply</a>
            </div>
            <div class="card-body">
              <small for="">Type of Job</small>
              <p class="text-md mb-0"><i class="ni ni-check-bold"></i> Full-time</p>
              <hr class="my-1">
              <small for="">Min Salary</small>
              <p class="text-md mb-0"><i class="ni ni-check-bold"></i> 25 $ <span>Per Hour</span></p>
              <hr class="my-1">
              <small for="">Location </small>
              <p class="text-md mb-0"><i class="ni ni-check-bold"></i> Los Angeles</p>
              <hr class="my-1">
              <small for="">Deadline </small>
              <p class="text-md mb-0"><i class="ni ni-check-bold"></i> 20-10-2021</p>
              <hr class="my-1">
              <small for=""> Applicant count</small>
              <p class="text-md mb-0"><i class="ni ni-check-bold"></i>15 applicants</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
