.resume_card {
  margin-top: 0;
    border-left: 4px solid #845EC2;
    display: inline-block;
    height: 50px;
    h4{
      padding: 10px;
      font-size: 1.1em;
    }
}

div.separateur{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 1px;
}
